<!-- <h1>{{ pageTitle }}</h1>
<button [disabled]="isButtonDisabled">Click me</button>  -->

<!-- 
<button (click)="onButtonClick()">Click me</button> 
<input (input)="onInputChange($event)">
<p>{{ userInput }}</p>   -->


<!-- app.component.html -->
<!-- <p>Welcome, {{ username }}!</p>
<p>{{ 10 + 20 }}</p>
<p>{{ isUserLoggedIn ? 'Logged In' : 'Logged Out' }}</p> -->


<!-- app.component.html -->
<!-- <input [attr.placeholder]="inputPlaceholder">
<div [ngStyle]="{ 'color': textColor, 'font-size': fontSize }">Styled Text</div> -->



<!-- app.component.html -->
<div [class.error]="hasError">This is an error message</div>
<button [class]="buttonClass">Click me</button>

