<!-- <section class="container">
    <div class="mm-cardWidget mt-4">
        <div class="mm-navbarCollapse">            <input #myInput class="form-control mm-global-search" type="text" placeholder="Search"
                [(ngModel)]="searchText">
            <span (click)="onSearchClick(searchText)">
                <mat-icon matPrefix class="Search">search</mat-icon>

            </span>


            <a class="active-notification">
                <span class="material-icons mm-notification"><img
                        src="../../assets/images/notification.svg">notifications</span>
            </a>
            <div class="mm-dropdown notification">
                <div class="mm-heading d-flex justify-content-between">
                    <h6>Anil</h6>
                </div>


                <img src="../../assets/images/profile.png" class="img-fluid">
                <div class="dropdown">
                    <button class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" class="drop">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->















<!-- <div class="search">
    <h2>All Stores</h2>
<mat-form-field>
    
    <input placeholder="Filter Stores" matInput [(ngModel)]="search" />
    <div class="searchicon">
    <mat-icon matPrefix>search</mat-icon>
    </div>
  </mat-form-field>
</div> -->






<!----  Global Search  --->
<!-- <section class="mm-globalSearch"> -->
<!----Label Heading Starts----->
<!-- <div class="mm-globalsearchHeading clearfix">
      <div class="mm-globalHeading float-left">
          <h6 class="mm-search-results">Search results for "{{paramasData['search']}}"</h6>
      </div>
  </div> -->
<!----Label Heading Ends----->
<!-- <div *ngIf="searchDetails && (!searchDetails.dashboardList.length) && (!searchDetails.franchiseList.length) && (!searchDetails.businessCoachList.length) &&(!searchDetails.businessEntityDtoList.length)">
      <p> No Results Found </p>
  </div> -->
<!-----Dashboard Table Starts----->
<!-- <div class="mm-dashboardTable" *ngIf="searchDetails && searchDetails.dashboardList && searchDetails.dashboardList.length">
      <div class="mm-dashboardHeading">
          <h6>Dashboard</h6>
      </div> -->