.mm-navbarCollapse {
    display: flex;
    flex: 1;
}

.mm-search {
    position: absolute;
}

.mm-warp {
    position: relative;
}

.mm-global-search {
    background-color: white-200;
    border-radius: 46px;
    padding: 10px 16px;
    width: 448px;
    height: 44px;
    border: none;
    outline: none;
}