<!----Social & Review Tickets----->
<div class="mm-socialReview-comments">
    <div class="card guestfeedback">
        <div class="row">
            <div class="col-lg-4 col-sm-12 mm-guest-divider mm-review-center">
                <div class="days">
                    <img class="pr-2 align-bottom" src="../../../assets/images/social-score.png"> Last 90 days Guest
                    Metrics
                </div>
            </div>
            <div class="col-6  ">
                <div class="row">
                    <div class="col-5">
                        <div class="osat">
                            OSAT
                            <p>84.6</p>
                            <p>79.9</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="Osat">
                            Food Quality
                            <p>84.6</p>
                            <p>79.9</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mm-survey-name">
                        <img src="../../../assets/images/mellow-sm.png"> Guest Survey
                    </div>

                </div>
                <div class="row">
                    <div class="mm-survey-names">
                        <img src="../../../assets/images/olo-sm.png"> OLO Survey
                    </div>


                </div>
            </div>

            <div class="Social col-2">
                <img src="../../../assets/images/rating-2.png"> Social Review
            </div>

        </div>
    </div>
    <div class="row Ratings">
        <div class=" col-md-6">
            <div class="reviewheading">
                <h6>Guest Survey</h6>
            </div>
            <mat-icon class="left">chevron_left</mat-icon>
            <mat-icon class="right">chevron_right</mat-icon>

            <div class="card ">
                <div class="media">
                    <img class="main" src="../../../assets/images/msf.png">
                    <div class="media-body">
                        <span class="mm-dates mt-3 ">Posted on 26/04/2020,12:42pm</span>
                        <ul class="reviews-list">
                            <li>
                                <img class="icon" src="../../../assets/images/quality.png">Food Quality
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </li>
                            <li>
                                <img class="icon" src="../../../assets/images/osat.png">OSAT
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>

                            </li>
                            <li>
                                <p><img class="icon" src="../../../assets/images/calendar.png">Date of Service
                                    10-30-2021</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="reviewheading">
                <h6>OLO Survey</h6>
            </div>
            <mat-icon class="left">chevron_left</mat-icon>
            <mat-icon class="right">chevron_right</mat-icon>


            <div class="card">
                <div class="media">
                    <img class="main" src="../../../assets/images/olo.png">
                    <div class="media-body">
                        <span class="mm-dates mt-3">Posted on 26/04/2020,12:42pm</span>
                        <ul class="reviews-list">
                            <li>
                                <img class="icon" src="../../../assets/images/quality.png">Food Quality
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </li>
                            <li>
                                <img class="icon" src="../../../assets/images/osat.png">OSAT
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </li>
                            <li>
                                <img class="icon" src="../../../assets/images/calendar.png">Date of Service
                                10-30-2021

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="reviewheading">
                <h6>Google Review</h6>
            </div>
            <mat-icon class="left">chevron_left</mat-icon>
            <mat-icon class="right">chevron_right</mat-icon>

            <div class="card ">
                <div class="media">
                    <img src="../../../assets/images/google.png">
                    <div class="media-body">
                        <h5 class="Anil">Anil</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="rating "> 4/5</span>
                        <p class="comment">
                            Posted on 26/04/2020, 12:42 AM
                            I have been there many times.Rooms ,Food and Service are excellent.we did lots of Excursions
                            and
                            all
                            the places are from the Hotel reachable. we visited Long Waterfall and was very helpful and
                            excellent. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="reviewheading">
                <h6>FaceBook Review</h6>
            </div>
            <mat-icon class="left">chevron_left</mat-icon>
            <mat-icon class="right">chevron_right</mat-icon>


            <div class="card ">
                <div class="media">
                    <img src="../../../assets/images/fb.png">
                    <div class="media-body">
                        <h5 class="Anil">Anil</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="rating "> 4/5</span>
                        <p class="comment">
                            Posted on 26/04/2020, 12:42 AM
                            I have been there many times.Rooms ,Food and Service are excellent.we did lots of Excursions
                            and all
                            the places are from the Hotel reachable. we visited Long Waterfall and was very helpful and
                            excellent. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="reviewheading">
                <h6>Yelp Review</h6>
            </div>
            <mat-icon class="left">chevron_left</mat-icon>
            <mat-icon class="right">chevron_right</mat-icon>


            <div class="card ">
                <div class="media">
                    <img src="../../../assets/images/yelp.png">
                    <div class="media-body">
                        <h5 class="Anil">Anil</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="rating "> 4/5</span>
                        <p class="comment">
                            Posted on 26/04/2020, 12:42 AM
                            I have been there many times.Rooms ,Food and Service are excellent.we did lots of Excursions
                            and all
                            the places are from the Hotel reachable. we visited Long Waterfall and was very helpful and
                            excellent. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="reviewheading">
                <h6>Tripadvisor Review</h6>
            </div>
            <mat-icon class="LEFT">chevron_left</mat-icon>
            <mat-icon>chevron_right</mat-icon>

            <div class="card ">
                <div class="media">
                    <img src="../../../assets/images/yelp.png">
                    <div class="media-body">
                        <h5 class="Anil">Anil</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="rating "> 4/5</span>
                        <p class="comment">
                            Posted on 26/04/2020, 12:42 AM
                            I have been there many times.Rooms ,Food and Service are excellent.we did lots of Excursions
                            and all
                            the places are from the Hotel reachable. we visited Long Waterfall and was very helpful and
                            excellent. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>