<section class="container">
    <div class="mm-cardWidget mt-4">

        <div class="mm-navbarCollapse">
            <input class=" mm-global-search" type="text" placeholder="Search">

            <mat-icon class="icons">search</mat-icon>
            <span (click)="onSearchClick(searchText)">
            </span>
            <a class="active-notification">
                <span class="material-icons mm-notification"><img
                        src="../../assets/images/notification.svg">notifications</span>
            </a>
            <div class="mm-dropdown notification">
                <div class="mm-heading d-flex justify-content-between">
                    <h6>Anil</h6>
                </div>
                <img src="../../assets/images/profile.png" class="img-fluid">
                <div class="dropdown">
                    <button class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" class="drop">
                        <mat-icon class="arrowdown">keyboard_arrow_down</mat-icon>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="franchisee">
            <div class="franchisees">
                <ul class="nav nav-pills mm-nav-pills mm-tabs-responsive" role="tablist">
                    <!-- <ul class="nav nav-tabs" id="myTab"> -->
                    <li class="nav-item col-md-6 ">
                        <a href="#BusinessEntity" class="nav-link" data-bs-toggle="tab">
                            Business Entity</a>
                    </li>
                    <li class="nav-item col-md-6">
                        <a href="#Franchisee" class="nav-link" data-bs-toggle="tab">Franchisee</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="Entity">
            <h5>Business Entity </h5>
            <button class="newButton" (click)="business()">
                + New Business Name
            </button>

            <div class="search">
                <div class="float-right">
                    <div class="input-group ">
                        <div class="form-outline">
                            <input id="search-input" type="search" class="form-control" placeholder="Filter Stores" />
                            <mat-icon class="Icons">search</mat-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card  Business">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="BusinessEntity">
                    <table class="table">

                        <thead>
                            <tr class="text-center">

                                <th (click)="sort('businessentityname')" class="TicketSubject">Business Entityname
                                    &nbsp;
                                    <mat-icon>
                                        arrow_upward</mat-icon>
                                </th>
                                <th (click)="sort('streetaddress')">Street Address &nbsp; <mat-icon>arrow_upward
                                    </mat-icon>
                                </th>
                                <th (click)="sort('city')">City &nbsp; <mat-icon>arrow_upward</mat-icon>
                                </th>
                                <th (click)="sort('state')">State &nbsp; <mat-icon>arrow_upward</mat-icon>
                                </th>
                                <th (click)="sort('zipcode')">Zip Code &nbsp; <mat-icon>arrow_upward</mat-icon>
                                </th>
                                <th>Status </th>
                                <th>Actions </th>


                            </tr>

                        </thead>

                        <tbody>
                            <tr *ngFor="let row of franchisee |orderBy:key:reverse; let i=index" class="text-center">
                                <td class="TicketSubject">{{row.businessentityname}}</td>
                                <td>{{row.streetaddress}}</td>
                                <td>{{row.city}}</td>
                                <td>{{row.state}}</td>
                                <td>{{row.zipcode}}</td>

                                <td
                                    [ngClass]="{'status-active': row.Status == 'Active', 'status-inactive': row.Status == 'InActive'}">
                                    <i class="material-icons circle ">check_circle</i>
                                    {{row.Status}}
                                </td>
                                <td>
                                    <mat-icon class="action"> border_color</mat-icon>
                                    <!-- <mat-icon class="delete">delete</mat-icon> -->
                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>

                <div class="tab-pane fade" id="Franchisee">
                    <table class="table table-container">

                        <thead>
                            <tr class="text-center">

                                <th (click)="sort('name')">Business
                                    Name &nbsp;
                                    <mat-icon>
                                        arrow_upward</mat-icon>
                                </th>
                                <th (click)="sort('email')">Email &nbsp;
                                    <mat-icon>arrow_upward</mat-icon>
                                </th>
                                <th (click)="sort('phonenumber')">Phone Number &nbsp; <mat-icon>
                                        arrow_upward</mat-icon>
                                </th>

                                <th>Status </th>
                                <th>Actions </th>


                            </tr>

                        </thead>

                        <tbody>
                            <tr *ngFor="let row of Franchisees |orderBy:key:reverse; let i=index" class="text-center">

                                <td class="TicketSubject ">{{row.name}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.phonenumber}}</td>

                                <td
                                    [ngClass]="{'status-active': row.Status == 'Active', 'status-inactive': row.Status == 'InActive'}">
                                    <i class="material-icons circle ">check_circle</i>
                                    {{row.Status}}
                                </td>
                                <td>
                                    <mat-icon class="action"> border_color</mat-icon>
                                    <mat-icon class="delete">delete</mat-icon>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                </div>


            </div>
        </div>



        <!-- <div class="card  Business">
            <div class="tab-content">
                
            </div>
        </div> -->


        <!-- <h5>Sales Channel</h5> -->
        <!-- <table class="table">
            <thead>
                <tr class="text-center">
                    <th (click)="sort('ID')">ID &nbsp;<mat-icon>arrow_upward</mat-icon>
                    </th>
                    <th (click)="sort('TicketSubject')" class="TicketSubject">Ticket Subject &nbsp;<mat-icon>
                            arrow_upward</mat-icon>
                    </th>
                    <th (click)="sort('SubmittedBy')">Submitted By &nbsp; <mat-icon>arrow_upward</mat-icon>
                    </th>
                    <th (click)="sort('TicketDate')">Ticket Date &nbsp; <mat-icon>arrow_upward</mat-icon>
                    </th>
                    <th>Status </th>

                </tr>

            </thead>
           
        </table> -->

    </div>
</section>



<!-- <div class="tab-content">
    <div class="tab-pane fade show active" id="home">
        <h4 class="mt-2">Home tab content</h4>
        <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
            qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
            retro keffiyeh dreamcatcher synth.</p>
    </div>
    <div class="tab-pane fade" id="profile">
        <h4 class="mt-2">Profile tab content</h4>
        <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis
            a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed
            molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis
            leo at faucibus adipiscing.</p>
    </div>
    <div class="tab-pane fade" id="messages">
        <h4 class="mt-2">Messages tab content</h4>
        <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat
            magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et
            ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum
            sociis natoque penatibus et magnis.</p>
    </div>
</div>
</div>
</body>

</html> -->