<section class="container">
    <div class="mm-cardWidget mt-4 mb-5">

        <div class="mm-navbarCollapse">
            <input class="form-control mm-global-search" type="text" placeholder="Search">

            <mat-icon class="icons">search</mat-icon>
            <!-- <span (click)="onSearchClick(searchText)"> -->
            <!-- </span> -->
            <a class="active-notification">
                <span class=" mm-notification"><img src="../../assets/images/notification.svg"></span>
            </a>
            <div class="mm-dropdown notification">
                <div class="mm-heading d-flex justify-content-between">
                    <h6>Anil</h6>
                </div>
                <img src="../../assets/images/profile.png" class="img-fluid">
                <div class="dropdown">
                    <button class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" class="drop">
                        <mat-icon class="arrowdown">keyboard_arrow_down</mat-icon>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mm-store">
            <h5 class="d-inline">Select a Store : </h5>
            <div class="mm-Drop">
                <input class="form-control Search" type="text" placeholder="Search">
                <button class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" class="Drop btn">
                    <mat-icon class="Arrowdown">keyboard_arrow_down</mat-icon>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                        <li><a class="dropdown-item" href="#">logOut</a></li>
                        <li><a class="dropdown-item" href="#">logOut</a></li>

                    </ul>

                </button>
            </div>


        </div>


        <div class="mm-businessCoach">
            <h4 class="mb-0 Coach">
                Business Coach
            </h4>
            <div class="mm-cardThumb">
                <img src="../../../assets/images/user.png" alt="" class="image-fluid">
            </div>
        </div>
    </div>
</section>



<section class="card-image">
    <div class="row ">
        <div class="col-lg-6 col-sm-12">
            <div class="imagess" align="center">
                <div>
                    <img src="../../../assets/images/gallery.png" class="IMG">
                </div>

                <div class="Images mb-3 d-flex">
                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>


                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>


                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>

                    <div class="p-3"><img src="../../../assets/images/gallery4.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery3.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery2.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery1.png"></div>
                    <div class="p-3"> <img src="../../../assets/images/gallery5.png"></div>


                </div>

            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="mm-storeInfo">
                <div class="mm-store clearfix">
                    <label>Store Information</label>
                    <button class="btn btn-success mm-editStore">Edit Details</button>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Store ID</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Store Name</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Open Date</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Comp Start Date</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Close Date</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Phone Number</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Signed FFA Date</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Store Address</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Market Segment</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Warehouse Fulfillment</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Business Entity</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="mm-layer">
                            <h4>Business Entity Address</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                        <div class="mm-layer store-urls">
                            <h4>Store URL’s</h4>
                            <div class="mm-imgGallary pt-4">
                                <a> <img src="../../../assets/images/facebook.png" alt="" class="img"></a>
                                <a><img src="../../../assets/images/instagram.png" alt="" class="img"></a>
                                <a><img src="../../../assets/images/mmyellow.png" alt="" class="img"></a>
                                <a><img src="../../../assets/images/mmspone.png" alt="" class="img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</section>


<!-- Sales Performance Data -->
<section class="mm-cardWidget">
    <h1>Sales Performance Data </h1>

    <div class="flex-container row">
        <div class="col-xl col-sm-6 col-6">
            <div class="mm-sales">
                <div class="mm-Sales w-100">
                    <p>Year-to-Date Sales</p>
                </div>
                <div class=" mm-media">
                    <div class="media-body">
                        <h4>$1.91 M</h4>
                        <p class="green">+12.5%</p>
                    </div>
                    <img src="../../../assets/images/graph.png" alt="" class="image
                    ">
                </div>
            </div>
            <!-- end of card -->
        </div>
        <div class="col-xl col-sm-6 col-6">
            <div class="mm-sales">
                <div class="mm-Sales w-100">
                    <p>Year-to-Date Dine In Sales</p>
                </div>
                <div class=" mm-media">
                    <div class="media-body ">
                        <h4>$1.52m</h4>
                        <p class="green">+10%</p>
                    </div>
                    <img src="../../../assets/images/graph.png" alt="" class="image">
                </div>
            </div>
            <!-- end of card -->
        </div>
        <div class="col-xl col-sm-6 col-6">
            <div class="mm-sales">
                <div class="mm-Sales w-100">
                    <p>Year-to-Date Dine In Sales</p>
                </div>
                <div class=" mm-media">
                    <div class="media-body ">
                        <h4>$1.63m</h4>
                        <p class="orange">-15%</p>
                    </div>
                    <img src="../../../assets/images/graph1.png" alt="" class="image">
                </div>
            </div>
            <!-- end of card -->
        </div>
        <div class="col-xl col-sm-6 col-6">
            <div class="mm-sales">
                <div class="mm-Sales w-100">
                    <p>Online Sales %</p>
                </div>
                <div class=" mm-media">
                    <div class="media-body">
                        <h4>22.3%</h4>
                        <p class="orange">-1%</p>
                    </div>
                    <img src="../../../assets/images/graph1.png" alt="" class="image">
                </div>
            </div>
            <!-- end of card -->
        </div>
        <div class="col-xl col-sm-6 col-6">
            <div class="mm-sales">
                <div class="mm-Sales w-100">
                    <p>Hourly Labor %</p>
                </div>
                <div class=" mm-media">
                    <div class="media-body ">
                        <h4>26.1%</h4>
                        <p class="orange">+2%</p>
                    </div>
                    <img src="../../../assets/images/graph1.png" alt="" class="image">
                </div>
            </div>
            <!-- end of card -->
        </div>
    </div>
</section>



<!-- General Performance -->
<!-- card section2-->
<section class="mm-cardSectionn mm-cardWidget">
    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12">
            <h4>General Performance Data | <a href="">
                    <mat-icon>edit</mat-icon>Edit
                </a>
            </h4>
            <!-- <div class="card"> -->
            <div class="mm-boxShadow">
                <div class="row">
                    <!-- end of card -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-0 pr-2">
                        <div class="mm-card mm-performance">
                            <span class="mm-dates">12-10-2021</span>
                            <div class="mm-Media ">
                                <span class="material-icons pink">favorite</span>
                                <div class="Health ms-3">
                                    <h4>92/100</h4>
                                    <p class="dept">Health Dept score</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-0 pr-2">
                        <div class="mm-card mm-performance">
                            <span class="mm-dates">12-10-2021</span>
                            <div class="mm-Media ">
                                <span class="material-icons orange">home</span>
                                <div class="Health ms-3">
                                    <h4>3.4/5</h4>
                                    <p class="dept">GM Score </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-0 pr-2">
                        <div class="mm-card mm-performance">
                            <span class="mm-dates">12-10-2021</span>
                            <div class="mm-Media ">
                                <span class="material-icons green">access_time</span>
                                <div class="Health ms-3">
                                    <h4>92/100</h4>
                                    <p class="dept">MO Report </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-0 pr-2">
                        <div class="mm-card mm-performance">
                            <span class="mm-dates">12-10-2021</span>
                            <div class="mm-Media ">
                                <span class="material-icons blue">home</span>
                                <div class="Health ms-3">
                                    <h4>Last Visit</h4>
                                    <p class="dept"> Business Coach Visit </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of card -->
                </div>
                <!-- </div> -->
            </div>
        </div>

        <div class="col-xl-6 col-sm-12 col-12">
            <h6>Store Contact Emails | <a href="">
                    <mat-icon>edit</mat-icon>Edit
                </a></h6>
            <!-- <h4 class="StoreEmails">Store Contact Emails
                <label class="mm-edit-store"><span class="material-icons">drive_file_rename_outline
                    </span> Edit</label>
            </h4> -->
            <div class="card Edit"></div>
            <!-- </h4> -->
        </div>



        <div class="col-xl-6 col-sm-12 col-12 Editing">
            <h4>Franchisee |<a href="" class="material-icons ">edit</a><span class="Editt">Edit</span>

            </h4>
            <div class="mm-FRanchisee">
                <div class="row">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-2 pl-2">
                        <div class="card  Franchisee">
                            <div class="franchisee p-4">

                                <div class="mm-name pb-1">

                                    <h5>Name : Anil <span class="primary">Primary Business Contact</span> </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Role : Franchisee </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Email : anil@gmail.com </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Phone : 9652546261 </h5>
                                </div>
                            </div>
                        </div>

                        <div class="card Franchisee">
                            <div class="franchisee p-4">

                                <div class="mm-name pb-1">
                                    <h5>Name : Anil </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Role : Franchisee </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Email : anil@gmail.com </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Phone : 9652546261 </h5>
                                </div>
                            </div>
                        </div>


                        <div class="card Franchisee">
                            <div class="franchisee p-4">

                                <div class="mm-name pb-1 ">
                                    <h5>Name : Anil </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Role : Franchisee </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Email : anil@gmail.com </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Phone : 9652546261 </h5>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- ---Store coctacts-- -->

        <div class="col-xl-6 col-sm-12 col-12 Editing">
            <h4>Store Contacts |<a href="" class="material-icons">edit</a><span class="Editt">Edit</span>

            </h4>
            <div class="mm-FRanchisee">
                <div class="row">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-2 pl-2">
                        <div class="card Franchisee">
                            <div class="franchisee p-4">

                                <div class="mm-name pb-1">

                                    <h5>Name : Anil <span class="primary">Primary Operator</span> </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Role : Franchisee </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Email : anil@gmail.com </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Phone : 9652546261 </h5>
                                </div>
                            </div>
                        </div>

                        <div class="card Franchisee">
                            <div class="franchisee p-4">

                                <div class="mm-name pb-1">
                                    <h5>Name : Anil </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Role : Franchisee </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Email : anil@gmail.com </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Phone : 9652546261 </h5>
                                </div>
                            </div>
                        </div>


                        <div class="card Franchisee">
                            <div class="franchisee p-4">

                                <div class="mm-name pb-1">
                                    <h5>Name : Anil </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Role : Franchisee </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Email : anil@gmail.com </h5>
                                </div>
                                <div class="mm-name pb-1">
                                    <h5>Phone : 9652546261 </h5>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



    </div>
</section>